
.form-heading { color:#fff; font-size:23px;}
.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:20px; margin-bottom:30px; line-height:24px;}


.login-form {
  
  border-radius: 4px;
  font-size: 14px;
  line-height: 50px;
}


.navigation-bar {
  background : transparent; 
}

.navbar 
{
  margin: 0px;
}

.main-login{
  background-color: #f4f4f4;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 180px auto 30px;
  max-width: 30%;
  padding: 20px 40px 70px 30px;
  border: 1px solid #d6d2d3;
}

.login-form  .btn.btn-primary {
  background: #e57c00 none repeat scroll 0 0;
  border-color: #e57c00;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  line-height: 50px;
  padding: 0;
}

.bg {
  /* background-image: url("./images/large.jpg"); */
  background-image: url("./images/lights.jpg");
  height: 670px;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.site-header-list-your-property
{

  border-radius:40px;
  color:  #0067db;
  background-color: white;
  border-color : white;

}

.jumbotron {
  background: none;

}

.searchbox-submit
{
  width: 150px;
  background-color: #0067db;
  border-radius: 30px;
  min-height: 50px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 500;
}


.where
{
  height : 50px;
  width: 48%
}

.footer-flex
{
  display: flex;
  max-width: 1300px;
  margin: 40px auto  0 auto;
  line-height: 1.65;
  padding : 20px 50px; 

}
.left-class
{
  flex : 1
}
.right-class
{
  flex : 1
}
.middle-class
{
  flex:1
}

.form-landing
{
  height: 50px;
  width : 28%
}

.home-inputs
{
  margin-top: 40px;
  margin-left:110px;
}

h6 {
  display: flex;
  flex-direction: row;
}

h6:before, h6:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #999;
  margin: auto;
  z-index: 2000;
  background: white;
  display: inline-block;
  padding: 0 25px;
  color: #999;
}

.facebook-btn
{
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  box-sizing: border-box;
  position: relative;
  text-align: center;
  line-height: 34px;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
  width: 100%;
  line-height: 50px;
  padding: 0;
  border-radius: 4px;
}

.form-control1
{
    height: 50px;
    width: 100%;
}

.site-header-list-your-property{
  height: 50px
}

.searchform{
  margin-top : 2%
}